<script data-goatcounter="https://usdogu.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<style>
        .container {
                width: 500px;
                height: 250px;
                margin: 50px;
                outline: solid 1px black;
                display: flex;
                align-items: center;
        }
</style>

<div id="container">
        <webring-banner>
                <p>Member of the <a href="https://webring.codeksion.net">Codeksion</a> webring</p>
                <a href="https://webring.codeksion.net/prev">Previous</a>
                <a href="https://webring.codeksion.net/random">Random</a>
                <a href="https://webring.codeksion.net/next">Next</a>
        </webring-banner>
        <script async src="https://webring.codeksion.net/embed.js" charset="utf-8"></script>
</div>
