<script data-goatcounter="https://usdogu.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<style>
 #webring {
     bottom: 20px;
     transform: translate(20%, 20%);
     margin-left: 0 auto;
     margin-right: 0 auto;
 }
</style>

<div id="webring">
  <webring-banner>
    <p>Member of the <a href="https://webring.codeksion.net">Codeksion</a> webring</p>
    <a href="https://webring.codeksion.net/prev">Previous</a>
    <a href="https://webring.codeksion.net/random">Random</a>
    <a href="https://webring.codeksion.net/next">Next</a>
  </webring-banner>
  <script async src="https://webring.codeksion.net/embed.js" charset="utf-8"></script>
</div>
